@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  height: 100vh;
}
h1 {
  color: rgba(143, 233, 221, 0.89);
}
.container {
  background-color: #020014;
  background-image: url(img/dark-wood.png);
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
input {
  margin: 10px;
  padding: 5px 10px;
  background-color: rgba(143, 233, 221, 0.89);
  border-radius: 5px;
  border: none;
}

/* CSS */
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(143, 233, 221, 0.89);
  left: 0;
  top: 0;
  border-radius: 10px;
}
i {
  margin-left: 5px;
}
p {
  padding-right: 2rem;
  margin: 10px;
  max-width: 60%;
  word-wrap: break-word;
}
/* button {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
} */
.list {
  background-image: url(img/brick-wall-dark.png);
  background-color: rgba(143, 233, 221, 0.89);
  /* padding: 50px; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.altdiv {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px dashed rgb(85, 238, 123);
}

.rmvBtn {
  position: relative;
  right: auto;
}

.checked {
  text-decoration: line-through;
}
/* input:checked ~ p {
  text-decoration: line-through;
} */

.date {
  position: relative;
  margin-left: auto;
  margin-right: 0;
}
/* @media (max-width: 376px) {
  .divlist {
    padding: -500px;
  }
  .altdiv {
    padding: 0px;
  }
} */
